# Technical Exploraton 4
Build proposed architecture in [Network Intrusion Detection System using Deep Learning](https://www.sciencedirect.com/science/article/pii/S1877050921011078)

In [3]:
# Setup
%matplotlib inline

import os

import numpy as np
import pandas as pd
import tensorflow as tf
from keras import datasets, layers, models
import matplotlib.pyplot as plt

2024-12-01 15:24:10.208631: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-12-01 15:24:10.219676: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-12-01 15:24:10.223189: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-12-01 15:24:10.231135: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-12-01 15:24:15.007229: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

## Import and explore data
We're going to be using the [UNSW-NB15 dataset](https://research.unsw.edu.au/projects/unsw-nb15-dataset). These papers elaborate its creation
- Moustafa, Nour, and Jill Slay. "UNSW-NB15: a comprehensive data set for network intrusion detection
systems (UNSW-NB15 network data set)."Military Communications and Information Systems Conference
(MilCIS), 2015. IEEE, 2015.
- Moustafa, Nour, and Jill Slay. "The evaluation of Network Anomaly Detection Systems: Statistical analysis
of the UNSW-NB15 data set and the comparison with the KDD99 data set." Information Security Journal:
A Global Perspective (2016): 1-14.

In [7]:
root = "./UNSW-NB15"

def read_UNSW_NB15(filename):
    return pd.read_csv(
        os.path.join(root, filename)
    )

In [13]:
nb15 = []

for x in range(1, 5):
    nb15.append(
        read_UNSW_NB15(f"UNSW-NB15_{x}.csv")
    )

print(nb15)

/tmp/ipykernel_2213307/1727858871.py:4: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(
/tmp/ipykernel_2213307/1727858871.py:4: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(

[        59.166.0.0   1390  149.171.126.6     53  udp  CON  0.001055    132  \
0       59.166.0.0  33661  149.171.126.9   1024  udp  CON  0.036133    528
1       59.166.0.6   1464  149.171.126.7     53  udp  CON  0.001119    146
2       59.166.0.5   3593  149.171.126.5     53  udp  CON  0.001209    132
3       59.166.0.3  49664  149.171.126.0     53  udp  CON  0.001169    146
4       59.166.0.0  32119  149.171.126.9    111  udp  CON  0.078339    568
...            ...    ...            ...    ...  ...  ...       ...    ...
699995  59.166.0.8  12520  149.171.126.6  31010  tcp  FIN  0.020383    320
699996  59.166.0.0  18895  149.171.126.9     80  tcp  FIN  1.402957  19410
699997  59.166.0.0  30103  149.171.126.5   5190  tcp  FIN  0.007108   2158
699998  59.166.0.6  30388  149.171.126.5    111  udp  CON  0.004435    568
699999  59.166.0.0   6055  149.171.126.5  54145  tcp  FIN  0.072974   4238

            164  31  ...  0.17   3   7  1  3.1  1.1  1.2  1.3  Unnamed: 47  \
0           304  31  ...     0   2   4  2    3    1    1    2          NaN
1           178  31  ...     0  12   8  1    2    2    1    1          NaN
2           164  31  ...     0   6   9  1    1    1    1    1          NaN
3           178  31  ...     0   7   9  1    1    1    1    1          NaN
4           312  31  ...     0   2   4  2    3    1    1    2          NaN
...         ...  ..  ...   ...  ..  .. ..  ...  ...  ...  ...          ...
699995     1874  31  ...     0   8  20  7    5    1    1    4          NaN
699996  1087890  31  ...     0   1   1  2    7    2    2    2          NaN
699997     2464  31  ...     0  13  13  6    7    2    1    2          NaN
699998      304  31  ...     0  10  13  6    5    1    1    3          NaN
699999    60788  31  ...     0  13  13  6    7    1    1    2          NaN

        0.18
0          0
1          0
2          0
3          0
4          0
...      ...
699995     0
699996     0
699997     0
699998     0
699999     0

[700000 rows x 49 columns],             59.166.0.0   6055  149.171.126.5  54145  tcp  FIN  0.072974  4238  \
0           59.166.0.0   7832  149.171.126.3   5607  tcp  FIN  0.144951  5174
1           59.166.0.8  11397  149.171.126.6     21  tcp  FIN  0.116107  2934
2           59.166.0.0   3804  149.171.126.3     53  udp  CON  0.000986   146
3           59.166.0.8  14339  149.171.126.6  14724  tcp  FIN  0.038480  8928
4           59.166.0.8  39094  149.171.126.3     53  udp  CON  0.001026   130
...                ...    ...            ...    ...  ...  ...       ...   ...
699995  149.171.126.18   1043   175.45.176.3     53  udp  INT  0.000005   264
699996  149.171.126.18   1043   175.45.176.3     53  udp  INT  0.000005   264
699997  149.171.126.18   1043   175.45.176.3     53  udp  INT  0.000005   264
699998  149.171.126.18   1043   175.45.176.3     53  udp  INT  0.000005   264
699999      59.166.0.1  18247  149.171.126.4   7662  tcp  FIN  0.119596  4550

        60788  31  ...  0.6  13  13.1   6  7.1   1  1.1   2  Unnamed: 47  0.7
0       91072  31  ...    0  13    13   6    7   1    1   2          NaN    0
1        3742  31  ...    1   1     2   7    5   1    1   4          NaN    0
2         178  31  ...    0  13    13   6    7   1    1   2          NaN    0
3         320  31  ...    0   8    20   7    5   1    1   4          NaN    0
4         162  31  ...    0   8    13   6    5   1    1   1          NaN    0
...       ...  ..  ...  ...  ..   ...  ..  ...  ..  ...  ..          ...  ...
699995      0  60  ...       19    19  19   19  19   19  19          NaN    0
699996      0  60  ...       19    19  19   19  19   19  19          NaN    0
699997      0  60  ...       19    19  19   19  19   19  19          NaN    0
699998      0  60  ...       19    19  19   19  19   19  19          NaN    0
699999  68342  31  ...        6     2   2    5   1    1   2          NaN    0

[700000 rows x 49 columns],             59.166.0.1  18247  149.171.126.4   7662  tcp  FIN  0.119596  \
0           59.166.0.3  54771  149.171.126.2  27709  tcp  FIN  0.650574
1           59.166.0.8  13289  149.171.126.9   5190  tcp  FIN  0.007980
2       149.171.126.18   1043   175.45.176.3     53  udp  INT  0.000005
3       149.171.126.18   1043   175.45.176.3     53  udp  INT  0.000005
4           59.166.0.3  10275  149.171.126.0     25  tcp  FIN  0.486578
...                ...    ...            ...    ...  ...  ...       ...
699995      59.166.0.0   2111  149.171.126.5     53  udp  CON  0.001035
699996      59.166.0.5  49044  149.171.126.3  30639  tcp  FIN  0.220630
699997      59.166.0.6  37717  149.171.126.7  35667  tcp  FIN  0.031576
699998      59.166.0.2   1768  149.171.126.7  64122  tcp  FIN  0.096835
699999      59.166.0.9   7045  149.171.126.7     25  tcp  FIN  0.201886

         4550  68342  31  ...      6   2 2.1   5   1  1.1  2.2  Unnamed: 47  \
0        8928    320  31  ...      3   5   2   4   1    1    4          NaN
1        2158   2464  31  ...      3   5   1   1   1    1    3          NaN
2         264      0  60  ...     19  19  19  19  19   19   19          NaN
3         264      0  60  ...     19  19  19  19  19   19   19          NaN
4       37462   3380  31  ...      3   2   3   4   2    1    2          NaN
...       ...    ...  ..  ... ..  ..  ..  ..  ..  ..  ...  ...          ...
699995    146    178  31  ...      1   3   4   3   1    1    4          NaN
699996    424   8824  31  ...      3   3   3   3   1    1    4          NaN
699997   2646  25564  31  ...      7   6   7   4   1    1    3          NaN
699998   4862  82782  31  ...      6   6   7   7   1    1    2          NaN
699999  37552   3380  31  ...      2   2   7   4   1    1    3          NaN

        0.4
0         0
1         0
2         0
3         0
4         0
...     ...
699995    0
699996    0
699997    0
699998    0
699999    0

[700000 rows x 49 columns],           59.166.0.9   7045   149.171.126.7     25  tcp  FIN  0.201886  37552  \
0         59.166.0.9   9685   149.171.126.2     80  tcp  FIN  5.864748  19410
1         59.166.0.2   1421   149.171.126.4     53  udp  CON  0.001391    146
2         59.166.0.2  21553   149.171.126.2     25  tcp  FIN  0.053948  37812
3         59.166.0.8  45212   149.171.126.4     53  udp  CON  0.000953    146
4         59.166.0.0  59922   149.171.126.8   6881  tcp  FIN  8.633186  25056
...              ...    ...             ...    ...  ...  ...       ...    ...
440038    59.166.0.5  33094   149.171.126.7  43433  tcp  FIN  0.087306    320
440039    59.166.0.7  20848   149.171.126.4     21  tcp  CON  0.365058    456
440040    59.166.0.3  21511   149.171.126.9     21  tcp  CON  6.335154   1802
440041    59.166.0.9  35433   149.171.126.0     80  tcp  CON  2.200934   3498
440042  175.45.176.0  17293  149.171.126.17    110  tcp  CON  0.942984    574

           3380  31  ...     2  2.1  7  4  1  1.1  3  Unnamed: 47  0.4
0       1087890  31  ...     3    1  4  4  1    1  1          NaN    0
1           178  31  ...     3    5  2  7  1    1  4          NaN    0
2          3380  31  ...     1    1  4  7  1    1  3          NaN    0
3           178  31  ...     2    5  2  1  1    1  2          NaN    0
4       1094788  31  ...     9    7  2  3  2    1  6          NaN    0
...         ...  ..  ... .. ..  ... .. .. ..  ... ..          ...  ...
440038     1828  31  ...     1    2  3  3  1    1  3          NaN    0
440039      346  31  ...  2  2    2  2  2  2    2  2          NaN    0
440040     2088  31  ...  2  2    2  4  2  2    2  2          NaN    0
440041   166054  31  ...     1    1  2  4  2    2  2          NaN    0
440042      676  62  ...     1    1  2  4  2    2  2     Exploits    1

[440043 rows x 49 columns]]

In [14]:

list_events = read_UNSW_NB15("UNSW-NB15_LIST_EVENTS.csv")
features = pd.read_csv(os.path.join(root, "NUSW-NB15_features.csv"), encoding='cp1252')

train = read_UNSW_NB15("UNSW_NB15_training-set.csv")
test = read_UNSW_NB15("UNSW_NB15_testing-set.csv")

Exploration based on [UNSW_NB15 notebook on kaggle](https://www.kaggle.com/code/melekbadreddine/unsw-nb15)

In [10]:
train.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.0902,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.0003,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.0051,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.6608,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.0025,...,1,3,0,0,0,2,3,0,Normal,0

In [11]:
test.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,...,1,1,0,0,0,1,1,0,Normal,0
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0

In [19]:
nb15[0].head()

,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0.17,3,7,1,3.1,1.1,1.2,1.3,Unnamed: 47,0.18
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,...,0,2,4,2,3,1,1,2,NaN,0

In [20]:
nb15[1].head()

,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,...,0.6,13,13.1,6,7.1,1,1.1,2,Unnamed: 47,0.7
0,59.166.0.0,7832,149.171.126.3,5607,tcp,FIN,0.144951,5174,91072,31,...,0,13,13,6,7,1,1,2,NaN,0
1,59.166.0.8,11397,149.171.126.6,21,tcp,FIN,0.116107,2934,3742,31,...,1,1,2,7,5,1,1,4,NaN,0
2,59.166.0.0,3804,149.171.126.3,53,udp,CON,0.000986,146,178,31,...,0,13,13,6,7,1,1,2,NaN,0
3,59.166.0.8,14339,149.171.126.6,14724,tcp,FIN,0.038480,8928,320,31,...,0,8,20,7,5,1,1,4,NaN,0
4,59.166.0.8,39094,149.171.126.3,53,udp,CON,0.001026,130,162,31,...,0,8,13,6,5,1,1,1,NaN,0

In [21]:
nb15[2].head()

,59.166.0.1,18247,149.171.126.4,7662,tcp,FIN,0.119596,4550,68342,31,...,,6,2,2.1,5,1,1.1,2.2,Unnamed: 47,0.4
0,59.166.0.3,54771,149.171.126.2,27709,tcp,FIN,0.650574,8928,320,31,...,,3,5,2,4,1,1,4,NaN,0
1,59.166.0.8,13289,149.171.126.9,5190,tcp,FIN,0.007980,2158,2464,31,...,,3,5,1,1,1,1,3,NaN,0
2,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
3,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,...,,19,19,19,19,19,19,19,NaN,0
4,59.166.0.3,10275,149.171.126.0,25,tcp,FIN,0.486578,37462,3380,31,...,,3,2,3,4,2,1,2,NaN,0

In [22]:
nb15[3].head()

,59.166.0.9,7045,149.171.126.7,25,tcp,FIN,0.201886,37552,3380,31,...,,2,2.1,7,4,1,1.1,3,Unnamed: 47,0.4
0,59.166.0.9,9685,149.171.126.2,80,tcp,FIN,5.864748,19410,1087890,31,...,,3,1,4,4,1,1,1,NaN,0
1,59.166.0.2,1421,149.171.126.4,53,udp,CON,0.001391,146,178,31,...,,3,5,2,7,1,1,4,NaN,0
2,59.166.0.2,21553,149.171.126.2,25,tcp,FIN,0.053948,37812,3380,31,...,,1,1,4,7,1,1,3,NaN,0
3,59.166.0.8,45212,149.171.126.4,53,udp,CON,0.000953,146,178,31,...,,2,5,2,1,1,1,2,NaN,0
4,59.166.0.0,59922,149.171.126.8,6881,tcp,FIN,8.633186,25056,1094788,31,...,,9,7,2,3,2,1,6,NaN,0

In [24]:
list_events.head()

  Attack category Attack subcategory  Number of events
0          normal                NaN           2218761
1        Fuzzers                 FTP               558
2        Fuzzers                HTTP              1497
3        Fuzzers                 RIP              3550
4        Fuzzers                 SMB              5245

In [25]:
features

,No.,Name,Type,Description
0,1,srcip,nominal,Source IP address
1,2,sport,integer,Source port number
2,3,dstip,nominal,Destination IP address
3,4,dsport,integer,Destination port number
4,5,proto,nominal,Transaction protocol
5,6,state,nominal,Indicates to the state and its dependent proto...
6,7,dur,Float,Record total duration
7,8,sbytes,Integer,Source to destination transaction bytes
8,9,dbytes,Integer,Destination to source transaction bytes
9,10,sttl,Integer,Source to destination time to live value
10,11,dttl,Integer,Destination to source time to live value
11,12,sloss,Integer,Source packets retransmitted or dropped
12,13,dloss,Integer,Destination packets retransmitted or dropped
13,14,service,nominal,"http, ftp, smtp, ssh, dns, ftp-data ,irc and ..."
14,15,Sload,Float,Source bits per second
15,16,Dload,Float,Destination bits per second
16,17,Spkts,integer,Source to destination packet count
17,18,Dpkts,integer,Destination to source packet count
18,19,swin,integer,Source TCP window advertisement value
19,20,dwin,integer,Destination TCP window advertisement value
20,21,stcpb,integer,Source TCP base sequence number
21,22,dtcpb,integer,Destination TCP base sequence number
22,23,smeansz,integer,Mean of the ?ow packet size transmitted by the...
23,24,dmeansz,integer,Mean of the ?ow packet size transmitted by the...
24,25,trans_depth,integer,Represents the pipelined depth into the connec...
25,26,res_bdy_len,integer,Actual uncompressed content size of the data t...
26,27,Sjit,Float,Source jitter (mSec)
27,28,Djit,Float,Destination jitter (mSec)
28,29,Stime,Timestamp,record start time
29,30,Ltime,Timestamp,record last time
30,31,Sintpkt,Float,Source interpacket arrival time (mSec)
31,32,Dintpkt,Float,Destination interpacket arrival time (mSec)
32,33,tcprtt,Float,"TCP connection setup round-trip time, the sum ..."
33,34,synack,Float,"TCP connection setup time, the time between th..."
34,35,ackdat,Float,"TCP connection setup time, the time between th..."
35,36,is_sm_ips_ports,Binary,If source (1) and destination (3)IP addresses ...
36,37,ct_state_ttl,Integer,No. for each state (6) according to specific r...
37,38,ct_flw_http_mthd,Integer,No. of flows that has methods such as Get and ...
38,39,is_ftp_login,Binary,If the ftp session is accessed by user and pas...
39,40,ct_ftp_cmd,integer,No of flows that has a command in ftp session.
40,41,ct_srv_src,integer,No. of connections that contain the same servi...
41,42,ct_srv_dst,integer,No. of connections that contain the same servi...
42,43,ct_dst_ltm,integer,No. of connections of the same destination add...
43,44,ct_src_ ltm,integer,No. of connections of the same source address ...
44,45,ct_src_dport_ltm,integer,No of connections of the same source address (...
45,46,ct_dst_sport_ltm,integer,No of connections of the same destination addr...
46,47,ct_dst_src_ltm,integer,No of connections of the same source (1) and t...
47,48,attack_cat,nominal,The name of each attack category. In this data...
48,49,Label,binary,0 for normal and 1 for attack records

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82332 entries, 0 to 82331
Data columns (total 45 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 82332 non-null  int64
 1   dur                82332 non-null  float64
 2   proto              82332 non-null  object
 3   service            82332 non-null  object
 4   state              82332 non-null  object
 5   spkts              82332 non-null  int64
 6   dpkts              82332 non-null  int64
 7   sbytes             82332 non-null  int64
 8   dbytes             82332 non-null  int64
 9   rate               82332 non-null  float64
 10  sttl               82332 non-null  int64
 11  dttl               82332 non-null  int64
 12  sload              82332 non-null  float64
 13  dload              82332 non-null  float64
 14  sloss              82332 non-null  int64
 15  dloss              82332 non-null  int64
 16  sinpkt             82332 non-null  float64
 17  dinpkt             82332 non-null  float64
 18  sjit               82332 non-null  float64
 19  djit               82332 non-null  float64
 20  swin               82332 non-null  int64
 21  stcpb              82332 non-null  int64
 22  dtcpb              82332 non-null  int64
 23  dwin               82332 non-null  int64
 24  tcprtt             82332 non-null  float64
 25  synack             82332 non-null  float64
 26  ackdat             82332 non-null  float64
 27  smean              82332 non-null  int64
 28  dmean              82332 non-null  int64
 29  trans_depth        82332 non-null  int64
 30  response_body_len  82332 non-null  int64
 31  ct_srv_src         82332 non-null  int64
 32  ct_state_ttl       82332 non-null  int64
 33  ct_dst_ltm         82332 non-null  int64
 34  ct_src_dport_ltm   82332 non-null  int64
 35  ct_dst_sport_ltm   82332 non-null  int64
 36  ct_dst_src_ltm     82332 non-null  int64
 37  is_ftp_login       82332 non-null  int64
 38  ct_ftp_cmd         82332 non-null  int64
 39  ct_flw_http_mthd   82332 non-null  int64
 40  ct_src_ltm         82332 non-null  int64
 41  ct_srv_dst         82332 non-null  int64
 42  is_sm_ips_ports    82332 non-null  int64
 43  attack_cat         82332 non-null  object
 44  label              82332 non-null  int64
dtypes: float64(11), int64(30), object(4)
memory usage: 28.3+ MB

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82332 entries, 0 to 82331
Data columns (total 45 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 82332 non-null  int64
 1   dur                82332 non-null  float64
 2   proto              82332 non-null  object
 3   service            82332 non-null  object
 4   state              82332 non-null  object
 5   spkts              82332 non-null  int64
 6   dpkts              82332 non-null  int64
 7   sbytes             82332 non-null  int64
 8   dbytes             82332 non-null  int64
 9   rate               82332 non-null  float64
 10  sttl               82332 non-null  int64
 11  dttl               82332 non-null  int64
 12  sload              82332 non-null  float64
 13  dload              82332 non-null  float64
 14  sloss              82332 non-null  int64
 15  dloss              82332 non-null  int64
 16  sinpkt             82332 non-null  float64
 17  dinpkt             82332 non-null  float64
 18  sjit               82332 non-null  float64
 19  djit               82332 non-null  float64
 20  swin               82332 non-null  int64
 21  stcpb              82332 non-null  int64
 22  dtcpb              82332 non-null  int64
 23  dwin               82332 non-null  int64
 24  tcprtt             82332 non-null  float64
 25  synack             82332 non-null  float64
 26  ackdat             82332 non-null  float64
 27  smean              82332 non-null  int64
 28  dmean              82332 non-null  int64
 29  trans_depth        82332 non-null  int64
 30  response_body_len  82332 non-null  int64
 31  ct_srv_src         82332 non-null  int64
 32  ct_state_ttl       82332 non-null  int64
 33  ct_dst_ltm         82332 non-null  int64
 34  ct_src_dport_ltm   82332 non-null  int64
 35  ct_dst_sport_ltm   82332 non-null  int64
 36  ct_dst_src_ltm     82332 non-null  int64
 37  is_ftp_login       82332 non-null  int64
 38  ct_ftp_cmd         82332 non-null  int64
 39  ct_flw_http_mthd   82332 non-null  int64
 40  ct_src_ltm         82332 non-null  int64
 41  ct_srv_dst         82332 non-null  int64
 42  is_sm_ips_ports    82332 non-null  int64
 43  attack_cat         82332 non-null  object
 44  label              82332 non-null  int64
dtypes: float64(11), int64(30), object(4)
memory usage: 28.3+ MB

In [4]:
train.describe()

,id,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label
count,175341.000000,175341.000000,175341.000000,175341.000000,1.753410e+05,1.753410e+05,1.753410e+05,175341.000000,175341.000000,1.753410e+05,...,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000
mean,87671.000000,1.359389,20.298664,18.969591,8.844844e+03,1.492892e+04,9.540619e+04,179.546997,79.609567,7.345403e+07,...,5.383538,4.206255,8.729881,0.014948,0.014948,0.133066,6.955789,9.100758,0.015752,0.680622
std,50616.731112,6.480249,136.887597,110.258271,1.747656e+05,1.436542e+05,1.654010e+05,102.940011,110.506863,1.883574e+08,...,8.047104,5.783585,10.956186,0.126048,0.126048,0.701208,8.321493,10.756952,0.124516,0.466237
min,1.000000,0.000000,1.000000,0.000000,2.800000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,43836.000000,0.000008,2.000000,0.000000,1.140000e+02,0.000000e+00,3.278614e+01,62.000000,0.000000,1.305334e+04,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000
50%,87671.000000,0.001582,2.000000,2.000000,4.300000e+02,1.640000e+02,3.225807e+03,254.000000,29.000000,8.796748e+05,...,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,3.000000,4.000000,0.000000,1.000000
75%,131506.000000,0.668069,12.000000,10.000000,1.418000e+03,1.102000e+03,1.250000e+05,254.000000,252.000000,8.888889e+07,...,5.000000,3.000000,12.000000,0.000000,0.000000,0.000000,9.000000,12.000000,0.000000,1.000000
max,175341.000000,59.999989,9616.000000,10974.000000,1.296523e+07,1.465555e+07,1.000000e+06,255.000000,254.000000,5.988000e+09,...,51.000000,46.000000,65.000000,4.000000,4.000000,30.000000,60.000000,62.000000,1.000000,1.000000

We're going to use attack_cat as our target class

In [5]:
print(train["attack_cat"].value_counts(normalize=True))
categories = list(train["attack_cat"].unique())

attack_cat
Normal            0.319378
Generic           0.228127
Exploits          0.190446
Fuzzers           0.103706
DoS               0.069944
Reconnaissance    0.059832
Analysis          0.011406
Backdoor          0.009958
Shellcode         0.006462
Worms             0.000741
Name: proportion, dtype: float64

9 of these categories are attacks, while one represents normal traffic.
Looks like normal traffic is only 31% of this dataset, followed by generic attacks.

In [6]:
X_train = train.drop(columns=["attack_cat"])
y_train = train["attack_cat"].copy()

X_test = test.drop(columns=["attack_cat"])
y_test = test["attack_cat"].copy()

# Create Model

In [ ]:
model = models.Sequential([
    layers.Input(shape=[]), # TODO: Find shape
    layers.Conv1D(),
    layers.Conv1D(),
    layers.MaxPooling1D(),
    layers.Dropout(),
    layers.Conv1D(),
    layers.Conv1D(),
    layers.MaxPooling1D(),
    layers.Dropout(),
    layers.Conv1D(),
    layers.Conv1D(),
    layers.MaxPooling1D(),
    layers.Dropout(),
    layers.Conv1D(),
    layers.Dense(),
    layers.MaxPooling1D(),
    layers.Dense(),
])

TypeError: Dropout.__init__() missing 1 required positional argument: 'rate'